header > img {
    width: 100%; /*Banner image takes full width*/
}

p{
    white-space: pre-line; /*Fixes paragraph spacing*/
}

#mainContentPlaceHolder_fullMarinaImage {
    width: 100%; /*Sets image width for image on home page*/
}

#homeParagraph{
    vertical-align: middle; /*Aligns paragraph to middle of div (side by side with image*/
}

#mainContentPlaceHolder_blueHavenImage {
    max-height: 40%; /*Max height for image on available slips page*/
}

#mainContentPlaceHolder_yachtImage {
    max-height: 30%; /*Max height for image on lease slips page*/
}

